
junkfile.txt

junkfile2.txt

PROGRAMS/0_START/START/start.exe

*.exe

*.xyz

*.grd

*.dat

*.ps

*.cpt

PROGRAMS/0_START/START/.gmtcommands4

DATA/UT_SET01/CHECK_01/data/vel_p_12.dat

DATA/UT_SET01/CHECK_01/data/ztcor_14.dat

*.dat
